version: '3.8'

services:
  certbot:
    image: certbot/certbot
    volumes:
      - ./nginx/certbot/conf:/etc/letsencrypt
      - ./nginx/certbot/www:/var/www/certbot
    command: certonly --webroot --webroot-path=/var/www/certbot --email your-email@example.com --agree-tos --no-eff-email -d spotease.rivenlalala.xyz -d api.spotease.rivenlalala.xyz

  nginx-temp:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/certbot/www:/var/www/certbot:ro
      - ./nginx/nginx-initial.conf:/etc/nginx/nginx.conf:ro
